.histories{
    width: 636px;
    height: 132px;
    display: flex;
    padding-top: 24px;
    padding-left: 24px;
    justify-content: space-between;
    background-color: $color-white;
    border: 1px solid rgba(0, 0, 0, 0.2)
}