%font{
    font-family: $font;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}


.user{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    &__buttom{
        @extend %font;
        color: $color-blue;
        margin-left: 38%;
        font-weight: bold;
    }
    &__info{
        width: 88px;
        height: 38px;
        margin-left: 8px;
        h5{
            @extend %font;
            font-weight: 600;
            color: $color-black;

        }
        span{
          
            @extend %font;
            font-weight: 400;
            color: $color-dark-grey;
        }
    }
    
}